@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
@model HomeViewModel

@if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
{
    <h3>Стига си чеса лимона, а си намери работа!</h3>
}
else if (User.IsInRole("User"))
{
    <h3>Dear new employee, please contact you manager for further registration.</h3>
    <h3>If you succeed in this challenge you may get a raise in the salary!</h3>
}
else
{
    <table class="table-hover" style="width:100%">
        <thead class="thead-light" style="background-color: cadetblue">
            <tr>
                @if (Model.UserIsManager)
                {
                    <th colspan="8" style="font-weight:bolder; text-align: center">Last 5 Opened</th>
                }
                else
                {
                    <th colspan="7" style="font-weight:bolder; text-align: center">Last 5 Opened</th>
                }
            </tr>
            <tr>
                <th>ID</th>
                <th>Date/Time</th>
                <th>Sender</th>
                <th>Subject</th>
                <th>Since</th>
                @if (Model.UserIsManager)
                {
                    <th>Opened by</th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var mail in Model.Open)
            {
                <tr>
                    <partial name="_OpenedApplicationsPartial.cshtml" model="mail" />
                </tr>
            }

        </tbody>
    </table>

    <br />

    <table class="table-hover" style="width:100%">
        <thead class="thead-light" style="background-color: cadetblue">

            <tr>

                <th colspan="6" style="font-weight:bolder; text-align: center">Last 5 New</th>

            </tr>

            <tr>
                <th>ID</th>
                <th>Date/Time</th>
                <th>Sender</th>
                <th>Subject</th>
                <th>Time Since Change</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var mail in Model.New)
            {
                mail.UserIsManager = Model.UserIsManager;
                <tr class="row-@mail.GmailIdNumber">
                    <partial name="_AllNewEmailsPartial" model="mail" />
                </tr>
            }
        </tbody>
    </table>
    <br />
    <table class="table-hover" style="width:100%">
        <thead class="thead-light" style="background-color: cadetblue">
            <tr>
                @if (Model.UserIsManager)
                {
                    <th colspan="8" style="font-weight:bolder; text-align: center">Last 5 Not Reviewed</th>
                }
                else
                {
                    <th colspan="7" style="font-weight:bolder; text-align: center">Last 5 Not Reviewed</th>
                }
            </tr>
            <tr>
                <th>ID</th>
                <th>Date/Time</th>
                <th>Sender</th>
                <th>Subject</th>
                <th>Status</th>
                <td>
                    Attachments
                </td>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var mail in Model.NotReviewed)
            {
                <tr>
                    <partial name="_NotReviewedPartial" model="mail" />
                </tr>
            }

        </tbody>
    </table>

    <br />
    <table class="table-hover" style="width:100%">
        <thead class="thead-light" style="background-color: cadetblue">
            <tr>
                @if (Model.UserIsManager)
                {
                    <th colspan="8" style="font-weight:bolder; text-align: center">Last 5 Closed</th>
                }
                else
                {
                    <th colspan="7" style="font-weight:bolder; text-align: center">Last 5 Closed</th>
                }
            </tr>
            <tr>
                <th>ID</th>
                <th>Date/Time</th>
                <th>Sender</th>
                <th>Subject</th>
                <th>Status</th>
                @if (Model.UserIsManager)
                {
                    <th>Closed By</th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var mail in Model.Closed)
            {
                <tr>
                    <partial name="_AllClosedEmailsPartial" model="mail" />
                </tr>
            }

        </tbody>
    </table>
    <p>Last 5 with Closed</p>
    <table class="table-hover" style="width:100%">
        <thead class="thead-light" style="background-color: cadetblue">
            <tr>
                @if (Model.UserIsManager)
                {
                    <th colspan="4" style="font-weight:bolder; text-align: center">Last 5 Closed</th>
                }
                else
                {
                    <th colspan="4" style="font-weight:bolder; text-align: center">Last 5 Closed</th>
                }
            </tr>
            <tr>
                <th>Date/Time</th>
                <th>Sender</th>
                <th>Subject</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var mail in Model.Closed)
            {
                <partial name="_AllClosedEmailsPartial" model="mail" />
            }

        </tbody>
    </table>
}
<br />


